<section>
  <app-form-card>
    <h1>Sign Up</h1>
    <app-tooltip [toolTipText]="'Required'">
      <app-textbox
        [name]="'fname'"
        [value]="fname()"
        placeholder="First name"
        (valueChange)="fname.set($event)"
        [label]="'First name:'"
      ></app-textbox>
    </app-tooltip>
    <app-tooltip [toolTipText]="'Required'">
      <app-textbox
        [name]="'lname'"
        [label]="'Last name:'"
        [value]="lname()"
        placeholder="Last name"
        (valueChange)="lname.set($event)"
      ></app-textbox>
    </app-tooltip>
    <app-tooltip [toolTipText]="'Required'">
      <app-textbox
        [name]="'email'"
        [label]="'Email:'"
        [value]="email()"
        placeholder="Email address"
        (valueChange)="email.set($event)"
      ></app-textbox>
    </app-tooltip>
    <app-tooltip [toolTipText]="'Password must be at least 8 characters long'">
      <app-textbox
        [name]="'password'"
        [label]="'Password:'"
        [value]="password()"
        placeholder="Password"
        (valueChange)="password.set($event)"
      ></app-textbox>
    </app-tooltip>
    <app-tooltip [toolTipText]="'Must match password'">
      <app-textbox
        [name]="'confirm'"
        [label]="'Confirm Password:'"
        [value]="confirm()"
        placeholder="Confirm Password"
        (valueChange)="confirm.set($event)"
      ></app-textbox>
    </app-tooltip>
    <app-button [text]="'Sign Up!'" (clicked)="onSubmitClick()"></app-button>
    <app-anchor
      [route]="'/login'"
      [text]="'Have an account?'"
      style="font-size: small"
    ></app-anchor>
  </app-form-card>
</section>
