section {
  position: relative;
  max-height: 100em;
  max-width: 100em;
}

.background {
  display: flex;
  height: 90vh;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.get_started_container {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1em;
  border-width: 0;
  bottom: -18rem;
  box-shadow: 0 0 0.5rem #ccc;
  left: 5rem;
  padding: 1em;
  position: relative;
  text-align: center;
  width: 20em;

  button {
    border-radius: 0.75em;
    border-width: 0;
    box-shadow: 0 0 0.25rem grey;
    margin: 1em;
    padding: 1em;

    &:hover {
      background-color: #eee;
      box-shadow: 0 0 0.25rem black;
      cursor: pointer;
      transition: ease-in-out 0.2s;
      transform: scale(1.05);
    }
  }
}
