html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    outline: none;
}

body {
    height: 100%;
    background-image: linear-gradient(90deg, #060643 0%, #111199 35%, #5d68dc 100%)
}